absl-py
amqp
anyio
argon2-cffi
arrow
asgiref
chardet
charset-normalizer
click
celery
kombu
billiard
vine
cloudinary
cryptography
dj-database-url
Django
django-admin-rangefilter
django-bootstrap4
django-cloudinary-storage
django-crispy-forms
django-filter
django-import-export
django-jet
django_urls
djangorestframework
docx2txt
email-validator
gunicorn
httpcore
httpx
idna
openpyxl
packaging
Pillow
psycopg2-binary
pydantic
pydantic_core
python-dateutil
pytz
PyYAML
redis
requests
rfc3339-validator
rfc3986-validator
rich
sentry-sdk
six
soupsieve
SQLAlchemy
sqlparse
starlette
tablib
tornado
tzdata
urllib3
uvicorn
Werkzeug
whitenoise
WTForms
python-dotenv
